/*
meyerweb reset added to index.css

Fonts:
Headings: 'Montserrat', sans-serif;
Body: 'Roboto', sans-serif;

Colors:
dark brown: #454245
sea green: #a5c3c6
pale blue: #dde8ec
tan: #a49989
sand: #d2cdc4
light sand: #e3e2e0
*/

* {
  color: #454245;
}

body {
  background-image: url('./images/travel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.pageTitle {
  font-size: 3rem;
  color: #e3e2e0;
  margin: 20px auto;
  border-top: 3px solid #e3e2e0;
  border-bottom: 3px solid #e3e2e0;
  max-width: 250px;
}

button {
  font-size: 1.2rem;
}

.postDetails {
  font-weight: 600;
  font-size: 1.6rem;
  color: #e3e2e0;
}

.postMessage {
  padding: 2px;
}

.postEdit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageEdit {
  flex-direction: column;
}

.postEdit button {
  font-size: 1rem;
  padding: 5px;
  color: #e3e2e0;
  border-radius: 8px;
  border: 2px solid #e3e2e0;
  margin: 10px;
  height: 35px;
  background-color: #454245;
}

.postEdit button:hover {
  background: #d2cdc4;
  color: #454245;
}

.videoButton {
  font-size: 1rem;
  padding: 5px;
  color: #e3e2e0;
  border-radius: 8px;
  border: 2px solid #e3e2e0;
  margin: 10px;
  height: 35px;
  background-color: #454245;
}

.videoButton button:hover {
  background: #d2cdc4;
  color: #454245;
}
