/*
Fonts:
Headings: 'Montserrat', sans-serif;
Body: 'Roboto', sans-serif;

Colors:
dark brown: #454245
sea green: #a5c3c6
pale blue: #dde8ec
tan: #a49989
sand: #d2cdc4
light sand: #e3e2e0
*/

.App {
  text-align: center;
}
